<div class="content-login">
    <div class="overlay-login" ng-show="admin.signingUp">
        <div id="card-meshing" class="card-overlay">
            <img src="/static/img/logo-dark.svg">
            <h3>Add An Instructor With one course...</h3>
        </div>
    </div>

    <div class="card" id="card-signup">
        <div class="box-back">
            <a class="back_arrow" ng-click="admin.goBack()"></a>
            <p ng-click="admin.goBack()">Back to Log In</p>
        </div>
        <div class="box-input" ng-hide="admin.showInfo">
            <div class="box-floating_input">
                <input name="email" type="text" id="email" ng-model="input.email" required>
                <label for="email">Email</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="password" type="text" id="password" ng-model="input.password" required>
                <label for="password">Password</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="firstname" type="text" id="firstname" ng-model="input.firstName" required>
                <label for="firstname">First Name</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="lastname" type="text" id="lastname" ng-model="input.lastName" required>
                <label for="lastname">Last Name</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="courseCode" type="text" id="courseCode" ng-model="input.courseCode" required>
                <label for="courseCode">Course Code </label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="courseTitle" type="text" id="courseTitle" ng-model="input.courseTitle" required>
                <label for="courseTitle">Course Title</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="time" type="text" id="time" ng-model="input.time" required>
                <label for="time">Time</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>


        </div>
        <div class="box-info" ng-show="admin.showInfo">
            <div class="box-floating_input">
                INSTRUCTOR :  {{admin.course.instructorName}}
            </div>
            <div class="box-floating_input">
              USERNAME :  {{admin.user.username}}
            </div>
            <div class="box-floating_input">
              TITLE :  {{admin.course.title}}
            </div>
            <div class="box-floating_input">
               CODE :  {{admin.course.code}}
            </div>
            <div class="box-floating_input">
               LINK :  http://scholarapp.xyz/register?course={{admin.course.code}}&code={{admin.course._id}}
            </div>
          </div>
        <a class="button-round" ng-click="admin.createInstructorAccount(input)" id="signup" ng-hide="admin.showInfo">Submit</a>
    </div>

</div>
