<div class="box-list-courses">
    <ul class="fade"
        ng-class="{'leave-meshing' : vm.inactive, 'fade_in' : vm.active, 'fade_out' : vm.inactive}"
    >
        <li ng-repeat="class in vm.user.classes | filter:{hasActiveSession: true}">
            <div class="row-middle">
                <div class="box-course-info">
                    <h2 class="course-code">{{class.code}}</h2>
                    <p class="course-time">{{class.courseTime}}</p>
                    <p class="course-instructor">{{class.instructorName}}</p>
                </div>
                <div class="box-arrow" ng-click="vm.chooseClass(class)">
                    <a class="arrow"></a>
                </div>
            </div>
        </li>
    </ul>
</div>
