<div>
    <p class="prompt-ia">{{dash.sticky.content || 'Verbal or slide question asked.'}}</p>
    <ul class="list-ia">
        <!--<li class="item-ia" ng-show="dash.sticky.options.length >= 1">-->
        <li class="item-ia"
            ng-show="dash.sticky.options.length > 0"
        >
            <p class="text-answer">{{dash.sticky.options[0]}}</p>
            <div ng-class="{ 'box-ia_active' : dash.sticky.optionSelected === 'A',
                    'box-ia' : dash.sticky.optionSelected !== 'A' }"
                 ng-click="dash.clickOption(0)"
            >
                A
            </div>
        </li>
        <li class="item-ia"
            ng-show="dash.sticky.options.length > 1"
        >
            <p class="text-answer">{{dash.sticky.options[1]}}</p>
            <div ng-class="{ 'box-ia_active' : dash.sticky.optionSelected === 'B',
                   'box-ia' : dash.sticky.optionSelected !== 'B' }"
                 ng-click="dash.clickOption(1)"
            >
                B
            </div>
        </li>
        <li class="item-ia"
            ng-show="dash.sticky.options.length > 2"
        >
            <p class="text-answer">{{dash.sticky.options[2]}}</p>
            <div ng-class="{ 'box-ia_active' : dash.sticky.optionSelected === 'C',
                   'box-ia' : dash.sticky.optionSelected !== 'C' }"
                 ng-click="dash.clickOption(2)"
            >
                C
            </div>
        </li>
        <li class="item-ia"
            ng-show="dash.sticky.options.length > 3"
        >
            <p class="text-answer">{{dash.sticky.options[3]}}</p>
            <div ng-class="{ 'box-ia_active' : dash.sticky.optionSelected === 'D',
                   'box-ia' : dash.sticky.optionSelected !== 'D' }"
                 ng-click="dash.clickOption(3)"
            >
                D
            </div>
        </li>
        <li class="item-ia"
            ng-show="dash.sticky.options.length > 4"
        >
            <p class="text-answer">{{dash.sticky.options[4]}}</p>
            <div ng-class="{ 'box-ia_active' : dash.sticky.optionSelected === 'E',
                   'box-ia' : dash.sticky.optionSelected !== 'E' }"
                 ng-click="dash.clickOption(4)"
            >
                E
            </div>
        </li>
    </ul>
    <div class="box-io-selected">
        <p class="selected-ia" ng-hide="dash.sticky.optionSelected === null">
            SELECTED:
        </p>
        <p class="selected-ia_bold" ng-hide="dash.sticky.optionSelected === null">
            {{dash.sticky.optionSelected}}
        </p>
        <br ng-hide="dash.sticky.optionSelected === null">
        <p class="selected-ia" ng-show="dash.sticky.optionSelected === null">
            Please Select An Option
        </p>

    </div>


</div>
