<div ng-show="questions.loading">
    <div class="sk-wave"
         style="transform: scale(2); margin-top: 182px;"
    >
        <div class="sk-rect sk-rect1 background-primary"></div>
        <div class="sk-rect sk-rect2 background-primary"></div>
        <div class="sk-rect sk-rect3 background-primary"></div>
        <div class="sk-rect sk-rect4 background-primary"></div>
        <div class="sk-rect sk-rect5 background-primary"></div>
    </div>
</div>
<div ng-hide="questions.loading">
        <div id="row-filter">
        <a ng-click="questions.filterMostRecent()"
           ng-class="{
            'text-filter' : questions.filter !== 'MOST_RECENT',
            'text-filter_active' : questions.filter === 'MOST_RECENT'
           }"
        >
            Most Recent
        </a>
        <a ng-click="questions.filterMostVoted()"
           ng-class="{
            'text-filter' : questions.filter !== 'MOST_VOTED',
            'text-filter_active' : questions.filter === 'MOST_VOTED'
           }"
        >
            Most Voted
        </a>
        <a ng-click="questions.filterMe()"
           ng-class="{
            'text-filter' : questions.filter !== 'ME',
            'text-filter_active' : questions.filter === 'ME'
           }"
        >
            Me
        </a>
    </div>
    <div class="box-post_sticky" ng-show="dash.showSticky">
        <div class="post-content">
            <img class="post-icon-sticky" src="/static/img/iconprof.svg">
            <p class="post-text">
                {{dash.determineStickyContent(dash.sticky)}}
            <p>
            <p class="post-time">{{questions.timeFromNow(dash.sticky.created)}}</p>
            <a class="post-sticky-button" ng-click="dash.answerSticky()">Answer</a>
        </div>
    </div>
    <div ng-show="questions.visible.length === 0 && dash.showSticky === false && dash.mode !== ASK">
        <img src="/static/img/moon.svg" class="img-moon_response">
        <p class="text-moon_response">
            No questions right now
        </p>
    </div>
    <ul id="list-question">
        <li class="box-post" ng-repeat="question in questions.visible">
            <div class="post-content">
                <img class="post-icon" src="/static/img/iconstudent.svg"
                     ng-hide="dash.isUser(question.userId)"
                >
                <img class="post-icon" src="/static/img/iconstudentgreen.svg"
                     ng-show="dash.isUser(question.userId)"
                >
                <!-- TODO: Make content expandable on y axis -->
                <p class="post-text">{{question.content}}</p>
                <p class="post-time">{{dash.timeFromNow(question.created)}}</p>
                <img src="/static/img/like-inactive.svg" class="thumbs_up-inactive"
                     ng-class="{ 'thumbs_up-fade_out':
                        questions.inactiveThumbFadeOut(question.votes, question.loading, questions.userId)
                     }"
                     ng-click="questions.voteUp(question, dash.courseSession.id, dash.userId)"
                >
                <div class="thumbs_up-loading" ng-class="{ 'thumbs_up-loading-visible' : question.loading }"></div>
                <img src="/static/img/like-active.svg" class="thumbs_up-active"
                     ng-class="{ 'thumbs_up-fade_in':
                        questions.isActiveThumbFadeIn(question.votes, question.loading, questions.userId)
                     }"
                     ng-click="questions.voteDown(question, dash.courseSession.id, dash.userId)">
                <p class="upvotes">{{question.votes.length}}</p>
            </div>
        </li>
    </ul>
</div>
