<div class="frame_header">
    <h3 class="frame_header-text">
        STATISTICS
    </h3>
</div>
<div class="box-statistics">
    <div class="box-statistic">
        <p class="stat-text">
            <span class="stat-text_bold">
                {{dash.courseSession.attendance || 0}}
            </span>
            <br>
            students in attendance
        </p>
    </div>
    <div class="box-statistic" id="box-question">
        <p class="stat-text">
            <span class="stat-text_bold">
                {{dash.numberQuestions}}
            </span>
            <br>
            Questions submitted
        </p>
    </div>
    <div class="box-statistic">
        <p class="stat-text">
            <span class="stat-text_bold">
                {{dash.courseSession.activeAlerts || 0}}
            </span>
            <br>
            Confusion Alerts Active
        </p>
    </div>
</div>
