<div class="nav_instructor">
    <a id="button-back" ng-click="dash.goToDashClasses()"></a>

    <img src="/static/img/logo-dark.svg" class="logo">
    <h2 class="logo_text">{{dash.courseSession.code}}</h2>

    <h1 class="greeting">Hello, {{ dash.instructorName }}</h1>

    <div class="box-tabs">
        <a class="tab" ng-click="dash.clickTabHome()"
            ng-class="{ 'tab-active' : dash.tabSelected === 'HOME'}">
            Home
        </a>
        <a class="tab" ng-click="dash.clickTabAssessment()"
           ng-class="{ 'tab-active' : dash.tabSelected === 'ASSESSMENT'}">
            Quiz
        </a>
    </div>

    <h3 class="time">{{dash.time | date : "h:mm a"}}</h3>

    <div class="box-status" ng-click="dash.showEndSessionOverlay = true">
        <h3 class="session-status"
            ng-class="{ 'session-offline': !dash.courseSession.active, 'session-online': dash.courseSession.active }"
        >
            Course Session {{((dash.courseSession.active) ? 'Active' : 'Inactive')}}
        </h3>
        <a class="button-end_session" ng-show="dash.courseSession.active">
            Press to end course session
        </a>
    </div>
</div>
<!-- Overlay -->
<div class="overlay" ng-show="dash.showEndSessionOverlay">
    <div id="card-end-session" class="card-overlay">
        <h2>Are You Sure You Wish To End Class?</h2>
        <div class="r">
        <a class="button-round-yes" ng-click="dash.endCourseSession()">Yes</a>
        <a class="button-round-no" ng-click="dash.showEndSessionOverlay = false">No</a>
        </div>
    </div>
</div>
<div class="content-instructor"
     ng-show="dash.tabSelected === 'HOME'"
>
    <div class="content-home">
        <div class="pane-left">
            <div class="frame-confusion" ui-view="homeConfusion">
            </div>
            <div class="frame-statistics" ui-view="homeStatistics"></div>
        </div>
        <div class="pane-right">
            <div class="frame-questions" ui-view="homeQuestions"></div>
        </div>
    </div>
</div>
<div class="content-instructor"
     ng-show="dash.tabSelected === 'ASSESSMENT'"
     ng-controller="InstructorAssessmentController as assessment"
>
    <div class="content-assessment" >
        <div class="pane-left">
            <div class="frame-propose" ui-view="assessmentPropose"></div>
            <div class="frame-statistics" ui-view="assessmentStatistics"></div>
        </div>
        <div class="pane-right">
            <div class="frame-answers" ui-view="assessmentAnswers"></div>
        </div>
    </div>
</div>

<div id="connection-status">
    <div class="r"
         ng-show="dash.connectionStatus === 'connected'"
         ng-hide="dash.connectionStatus !== 'connected'">
        <a class="status-connected"></a>
        <p>{{dash.connectionStatus}}</p>
    </div>
    <div class="r"
         ng-show="dash.connectionStatus === 'disconnected'"
         ng-hide="dash.connectionStatus !== 'disconnected'">
        <a class="status-disconnected"></a>
        <p>{{dash.connectionStatus}}</p>
    </div>
    <div class="r"
         ng-show="dash.connectionStatus === 'unknown'"
         ng-hide="dash.connectionStatus !== 'unknown'">
        <a class="status-unknown"> </a>
        <p>{{dash.connectionStatus}}</p>
    </div>
    <div class="r"
         ng-show="dash.connectionStatus === 'unstable'"
         ng-hide="dash.connectionStatus !== 'unstable'">
        <a class="status-unstable"></a>
        <p>{{dash.connectionStatus}}</p>
    </div>
</div>
