<div class="frame_header">
    <h3 class="frame_header-text">
        ANSWERS
    </h3>
</div>
<div class="box-instant_assessment" ng-show="dash.selectedAssessment === 'INSTANT'">
    <div>
        <ul class="list">
            <li ng-show="dash.instantAssessment.options.length > 0" class="item">
                <div class="box-answer_and_letter">
                    <h3 class="answer-letter">A</h3>
                    <p class="answer-text">{{dash.instantAssessment.options[0]}}</p>
                </div>
                <a class="clear" ng-click="dash.clearInstantAssessmentOption(0)"
                   ng-hide="dash.activeAssessment"
                >
                    X
                </a>
            </li>
            <li ng-show="dash.instantAssessment.options.length > 1"class="item">
                <div class="box-answer_and_letter">
                    <h3 class="answer-letter">B</h3>
                    <p class="answer-text">{{dash.instantAssessment.options[1]}}</p>
                </div>
                <a class="clear" ng-click="dash.clearInstantAssessmentOption(1)"
                   ng-hide="dash.activeAssessment"
                >
                    X
                </a>
            </li>
            <li ng-show="dash.instantAssessment.options.length > 2"class="item">
                <div class="box-answer_and_letter">
                    <h3 class="answer-letter">C</h3>
                    <p class="answer-text">{{dash.instantAssessment.options[2]}}</p>
                </div>
                <a class="clear" ng-click="dash.clearInstantAssessmentOption(2)"
                   ng-hide="dash.activeAssessment"
                >
                    X
                </a>
            </li>
            <li ng-show="dash.instantAssessment.options.length > 3"class="item">
                <div class="box-answer_and_letter">
                    <h3 class="answer-letter">D</h3>
                    <p class="answer-text">{{dash.instantAssessment.options[3]}}</p>
                </div>
                <a class="clear" ng-click="dash.clearInstantAssessmentOption(3)"
                   ng-hide="dash.activeAssessment"
                >
                    X
                </a>
            </li>
            <li ng-show="dash.instantAssessment.options.length > 4"class="item">
                <div class="box-answer_and_letter">
                    <h3 class="answer-letter">E</h3>
                    <p class="answer-text">{{dash.instantAssessment.options[4]}}</p>
                </div>
                <a class="clear" ng-click="dash.clearInstantAssessmentOption(4)"
                   ng-hide="dash.activeAssessment"
                >
                    X
                </a>
            </li>
        </ul>
        <textarea type="text" class="input-answer" placeholder="Write a possible answer..."
                  ng-show="dash.instantAssessment.options.length <= 4 && !dash.activeAssessment"
                  ng-model="dash.input.answer"
        ></textarea>
        <div class="box-add" ng-show="dash.instantAssessment.options.length <= 4 && !dash.activeAssessment">
            <a class="button-round-small background-bright"
               ng-show="dash.instantAssessment.options.length <= 4"
               ng-click="dash.addAnswer(dash.input.answer)"
            >
                ADD
            </a>

        </div>
    </div>


    <div ng-show="dash.showInstantAssessmentGraph" >
    <nvd3 id="instant" options="dash.instantAssessmentGraph.options" data="dash.instantAssessmentGraph.data"></nvd3>
    </div>

</div>
<div class="box-reflective_assessment" ng-show="assessment.topReflectiveResponses.length > 0"
>
    <ul>
        <li class="top-response_item"
            ng-show="assessment.topReflectiveResponses.length > 0"
        >
            <h2 class="top-response_header">
                {{'Top ' + (assessment.topReflectiveResponses.length) + ' Responses'}}
            </h2>
            <div class="top-response"
                 ng-repeat="top in assessment.topReflectiveResponses">
                <p class="top-response_content">{{top.content}}</p>
                <div class="box-number">
                    <p class="top-response_number">{{top.numUpvotes}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
