<div class="frame_header">
    <h3 class="frame_header-text">
        PROPOSE A QUESTION
    </h3>
    <div class="box-propose_type">
        <a class="frame_propose-type"
           ng-class="{ 'propose-type_active': assessment.selected === 'INSTANT'}"
           ng-click="assessment.select('INSTANT')"
        >
            Multiple Choice
        </a>
        <a class="frame_propose-type"
           ng-class="{ 'propose-type_active': assessment.selected === 'REFLECTIVE'}"
           ng-click="assessment.select('REFLECTIVE')"
        >
            Free Response
        </a>
    </div>
</div>
<div class="box-ask" >
    <img src="/static/img/iconprof.svg" ng-hide="!!assessment.active">
    <textarea class="propose-text"
              ng-hide="!!assessment.active"
              placeholder="Ask something here..."
              ng-model="propose.input.question"
    ></textarea>
    <div ng-show="!!assessment.active && assessment.selected === 'INSTANT'">
        Mark the Correct Option by clicking the bars on the graph!
    </div>
</div>
</a>
<div class="box-propose-button">
    <a class="button-round-small"
       ng-hide="assessment.activationLoading"
       ng-class="{ 'background-red': !!assessment.active, 'background-green': !assessment.active }"
       ng-click="assessment.proposeOrStop(dash.courseSession.id, propose.input.question, dash.instantAssessment.options,
        assessment.selected, assessment.active.id, assessment.active.type)"
    >
        {{(!assessment.active) ? 'POST' : 'STOP'}}
    </a>
    <div class="sk-fading-circle" ng-show="assessment.activationLoading"
         style="bottom: 40px !important; margin: 0 auto !important;"
    >
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
