<div class="content-login">
    <div class="overlay-login" ng-show="vm.signingUp">
        <div id="card-meshing" class="card-overlay">
            <img src="/static/img/logo-dark.svg">
            <h3>Signing Up...</h3>
        </div>
    </div>

    <div class="card" id="card-signup">
        <div class="box-back">
            <a class="back_arrow" ng-click="vm.goBack()"></a>
            <p ng-click="vm.goBack()">Back to Log In</p>
        </div>
        <div class="box-input">
            <div class="box-floating_input">
                <input name="email" type="text" id="email" ng-model="input.email" required>
                <label for="email">Email</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="password" type="text" id="password" ng-model="input.password" required>
                <label for="password">Password</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="firstname" type="text" id="firstname" ng-model="input.firstName" required>
                <label for="firstname">First Name</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <br>
            <div class="box-floating_input">
                <input name="lastname" type="text" id="lastname" ng-model="input.lastName" required>
                <label for="lastname">Last Name</label>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>

        </div>
        <a class="button-round" ng-click="vm.createAccount(input)" id="signup">Sign Up</a>
    </div>
</div>
