<div class="content-login">
    <div class="overlay-login" ng-show="vm.loggingIn">
        <div id="card-logging_in" class="card-overlay">
            <img src="/static/img/logo-dark.svg">
            <div class="sk-cube-grid" style="transform: scale(2)">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
            <h3>Logging In</h3>
        </div>
    </div>

    <div class="card" id="card-login">
        <div id="box-top">
            <div id="box-logo">
                <img src="/static/img/SpliceLogo-dark.svg" class="logo-login">
                <h1 id="title" >SCHOLAR</h1>
            </div>

            <div id="box-input">
                <div class="box-floating_input">
                    <input name="email" type="text" id="email"
                           ng-model="vm.input.email" required>
                    <label for="email">Email</label>
                    <span class="bar"></span>
                    <span class="highlight purple"
                          ng-class="{ 'green': vm.validEmail(vm.input.email),
                           'red': vm.emailError }"
                    ></span>
                </div>
                <br>
                <div class="box-floating_input">
                    <input name="password" type="text" id="password"
                           ng-model="vm.input.password" required>
                    <label for="password">Password</label>
                    <span class="bar"></span>
                    <span class="highlight purple"
                          ng-class="{ 'red': vm.passwordError }"
                    ></span>
                </div>
                <a class="button-round" ng-click="vm.tryLogin(vm.input)">Log In</a>
            </div>
        </div>

        <div id="box-signup">
            <a class="button-clear" ng-click="vm.goToSignUp()">Sign Up</a>
        </div>
    </div>
</div>
